@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Montserrat:wght@300&display=swap');


.login{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .login-header{
      font-family: Jomhuria;
      font-size: 4rem;
      letter-spacing: .2rem;
      color: rgb(69, 40, 44);
    }
 
}

.form-field{
  border: none;
  padding: 1rem;
  border-radius: 5px;
  outline: none; 
  margin-bottom: 2rem;
  
}