.login{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.form-field{
  border: none;
  padding: 1rem;
  border-radius: 5px;
  outline: none; 
  margin-bottom: 2rem;
  
}