main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.login-frame{
    width: 35rem;
    height: 40rem;
    background-color: rgb(200, 161, 161);
    margin-bottom: auto;
    border-radius: 1rem;
}